﻿@{
    ViewData["Title"] = "Greetings";
}
@functions
{
    public string returnDayTime()
    {
        if (DateTime.Now.Hour < 12)
        {
            return "Good Morning!";
        }
        else { return "Good Evening!"; };
    }
}

<h1>Greetings</h1>

<p>The value of my Message is:  @ViewBag.Value</p>

<p>The greeting is: @ViewBag.Greeting </p>

<p>Here in Ukraine:@DateTime.Now.DayOfWeek</p>

<p>We wish you: @returnDayTime()</p>

<p>Today is @DateTime.Now.DayOfWeek</p>

<table border="1">
    <tr>
        <th width="50%">
            Name
        </th>
        <th width="50%">
            Value
        </th>
    </tr>
    <tbody>
        <tr>
            <td>
                Day
            </td>
            <td>
                @DateTime.Now.Day
            </td>
        </tr>
        <tr>
            <td>
                Hour
            </td>
            <td>
                @DateTime.Now.Hour
            </td>
        </tr>
        <tr>
            <td>
                Minute
            </td>
            <td>
                @DateTime.Now.Minute
            </td>
        </tr>
        <tr>
            <td>
                Second
            </td>
            <td>
                @DateTime.Now.Second
            </td>
        </tr>
    </tbody>
</table>

